body{
    background-color: rgba(211, 211, 211, 0.781);
}

h1{
    color: rgb(7, 36, 7);
}

#productos{
    margin: 30px;
    align-items: center;
    text-align: center;
}

.imagenes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 350px;
}

.button{
    text-align: center;
    margin: 5px;
}

#info{
    align-items: center;
}

#contacto{
    text-align: center;
    margin-top: 40px;
}

#conocenos{
    text-align: center;
    margin-top: 50px;
}